<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OMMSConnect"
        tools:targetApi="33">
        <activity
            android:name="icu.takeneko.omms.connect.settings.ServerIconManageActivity"
            android:exported="false" />
        <activity
            android:name="icu.takeneko.omms.connect.announcement.AnnouncementEditActivity"
            android:exported="false"
            android:label="@string/title_activity_announcement_edit"
            android:theme="@style/Theme.OMMSConnect" />
        <activity
            android:name="icu.takeneko.omms.connect.settings.UtilCommandEditActivity"
            android:exported="false"
            android:label="@string/title_activity_util_command_edit"
            android:theme="@style/Theme.OMMSConnect">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="icu.takeneko.omms.connect.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.OMMSConnect">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="icu.takeneko.omms.connect.server.activity.system.ServerOSControlActivity"
            android:exported="false"
            android:label="@string/title_activity_server_oscontrol"
            android:theme="@style/Theme.OMMSConnect.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="icu.takeneko.omms.connect.server.activity.minecraft.ui.MinecraftServerControlActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="icu.takeneko.omms.connect.whitelist.activity.WhitelistEditActivity"
            android:exported="false"
            android:label="@string/title_activity_whitelist_edit"
            android:theme="@style/Theme.OMMSConnect" />
        <activity
            android:name="icu.takeneko.omms.connect.SessionActivity"
            android:exported="false"
            android:label="@string/title_activity_session0" />
        <activity
            android:name="icu.takeneko.omms.connect.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OMMSConnect"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>